@charset "UTF-8";

/* 
em HTML é id    = em CSS é # (só pode um elemento - por página)
em HTML é class = em CSS é . (pode vários elementos - na mesma página)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2{
    color: rgb(51, 77, 49);
}

.basico {
    color: rgb(14, 93, 14);
}

.intermediario {
    color: rgb(176, 176, 9);
}

.avancado {
    color: rgb(148, 8, 8);
}

.destaque {
    background-color: rgb(211, 211, 135);
}