@charset "UTF-8";

/* Estilos para impressoras*/

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

/* Configuração para ocultar o menu na impressão */

article {
    width: 100%;
}

article::after {
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
}

